# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment
.env.local
.env.*.local

# VS Code
.vscode/
*.code-workspace

# Visual Studio
.vs/
*.db
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
logs
*.log

# Optional cache
.cache/

